<load target="default.layout.css" />
<load target="default.layout.webfont.css" cond="$layout_info->WEB_FONT == 'YES'" />
<load target="../../common/js/respond.min.js" targetie="lt IE 9" />
<load target="default.layout.js" type="body" />
<div class="container">
	<p class="skip"><a href="#content">{$lang->skip_to_content}</a></p>
	<header class="header">
		<h1>
<a href="http://sighkor.dothome.co.kr"> <img src="https://4.bp.blogspot.com/-5OKi40p07R4/WuuASNIVXJI/AAAAAAAAAK0/NgPkKZ3u7EEkItw0HmwO36D6UqW9PJMbACLcBGAs/s320/LOGO.png"></a>
		</h1>

		<div class="side">
		        <div class="mp-searchbox" style="float:left">
            <form cond="$grant->view" action="{getUrl()}" method="get" onsubmit="return procFilter(this, search)" id="marketplace_search" class="marketplace_search" no-error-return-url="true">
                <input type="hidden" name="vid" value="{$vid}" />
                <input type="hidden" name="mid" value="{$mid}" />
                <input type="hidden" name="category" value="{$category}" />

                <input type="text" placeholder="ex) 강의, 듀오, 랭크" name="search_keyword" value="{htmlspecialchars($search_keyword)}" title="{$lang->cmd_search}" /><input type="submit" value="검색" class="mp-hidetext" onclick="xGetElementById('marketplace_search').submit();return false;" />
            </form>
        </div>
			<!-- ACCOUNT -->
			<img widget="login_info" skin="default" />
			<!-- /ACCOUNT -->

		</div>
		<!-- GNB -->
		<nav class="gnb" id="gnb">
			<ul>
				<li loop="$GNB->list=>$key1,$val1" class="active"|cond="$val1['selected']">
					<a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']}</a>
					<ul cond="$val1['list']">
						<li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']"><a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']}</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- /GNB -->
	</header>
	<!-- VISUAL | DEFAULT -->
	<div class="visual main"|cond="$layout_info->LAYOUT_TYPE=='MAIN_PAGE'" class="visual sub"|cond="$layout_info->LAYOUT_TYPE=='SUB_PAGE'" cond="!$layout_info->VISUAL_IMAGE_1 && !$layout_info->VISUAL_IMAGE_2 && !$layout_info->VISUAL_IMAGE_3 && $layout_info->VISUAL_USE=='YES'">
		<div class="list">
			<a href="{geturl('','module','admin','act','dispAdminConfigGeneral')}" class="item i1" cond="$layout_info->LAYOUT_TYPE=='MAIN_PAGE'">
				<img src="visual.main.1.jpg" alt="" />
				<p>Click, to change<br> the site title.</p>
			</a>
			<a href="{geturl('','module','admin','act','dispMenuAdminSiteMap')}" class="item i2" cond="$layout_info->LAYOUT_TYPE=='MAIN_PAGE'">
				<img src="visual.main.2.jpg" alt="" />
				<p>Click, to change<br> the site navigation.</p>
			</a>
			<a href="{geturl('','module','admin','act','dispLayoutAdminInstanceList','layout','default')}" class="item i3" cond="$layout_info->LAYOUT_TYPE=='MAIN_PAGE'">
				<img src="visual.main.3.jpg" alt="" />
				<p>Click, to change<br> the site visual image.</p>
			</a>
			<a href="{geturl('','module','admin','act','dispLayoutAdminInstanceList','layout','default')}" class="item i1" cond="$layout_info->LAYOUT_TYPE=='SUB_PAGE'">
				<img src="visual.sub.jpg" alt="" />
				<p>Click, to change the site visual image.</p>
			</a>
		</div>
		<button type="button" class="prev" title="Prev"><i></i></button>
		<button type="button" class="next" title="Next"><i></i></button>
	</div>
	<!-- VISUAL | USER DEFINE -->
	<div class="visual main"|cond="$layout_info->LAYOUT_TYPE=='MAIN_PAGE'" class="visual sub"|cond="$layout_info->LAYOUT_TYPE=='SUB_PAGE'" cond="($layout_info->VISUAL_IMAGE_1 || $layout_info->VISUAL_IMAGE_2 || $layout_info->VISUAL_IMAGE_3) && $layout_info->VISUAL_USE=='YES'">
		<div class="list">
			<a href="{$layout_info->VISUAL_LINK_1}" class="item i1" cond="$layout_info->VISUAL_IMAGE_1">
				<img src="{$layout_info->VISUAL_IMAGE_1}" alt="" />
				<p>{$layout_info->VISUAL_TEXT_1}</p>
			</a>
			<a href="{$layout_info->VISUAL_LINK_2}" class="item i2" cond="$layout_info->VISUAL_IMAGE_2">
				<img src="{$layout_info->VISUAL_IMAGE_2}" alt="" />
				<p>{$layout_info->VISUAL_TEXT_2}</p>
			</a>
			<a href="{$layout_info->VISUAL_LINK_3}" class="item i3" cond="$layout_info->VISUAL_IMAGE_3">
				<img src="{$layout_info->VISUAL_IMAGE_3}" alt="" />
				<p>{$layout_info->VISUAL_TEXT_3}</p>
			</a>
		</div>
		<button type="button" class="prev" title="Prev"><i></i></button>
		<button type="button" class="next" title="Next"><i></i></button>
	</div>
	<!-- /VISUAL -->
	<div class="body main"|cond="$layout_info->LAYOUT_TYPE=='MAIN_PAGE'" class="body sub"|cond="$layout_info->LAYOUT_TYPE=='SUB_PAGE'">
		<!-- LNB -->
		<nav class="lnb" cond="$layout_info->LAYOUT_TYPE == 'SUB_PAGE'">
			<h1 loop="$GNB->list=>$key1,$val1" cond="$val1['selected']"><a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']}</a></h1>
			<ul loop="$GNB->list=>$key1,$val1" cond="$val1['selected'] && $val1['list']">
				<li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']"><a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']}</a>
					<ul cond="$val2['list']">
						<li loop="$val2['list']=>$key3,$val3" class="active"|cond="$val3['selected']"><a href="{$val3['href']}" target="_blank"|cond="$val3['open_window']=='Y'">{$val3['link']}</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- /LNB -->
		<!-- CONTENT -->
		<div class="content" id="content">
			{$content}
		</div>
		<!-- /CONTENT -->
	</div>
	
</div>
<footer class="footer">
    <p cond="!$layout_info->FOOTER"><strong>Company Information</strong></p>
    <p cond="!$layout_info->FOOTER">상호명: 에브리대리</p>
	<p cond="!$layout_info->FOOTER">주소: 서울특별시 용산구 청파로20길 34, 22동 3층 6001-1호 (한강로2가, 선인상가)</p>
	<p cond="!$layout_info->FOOTER">사업자번호: 310-87-00427 | 통신판매신고: 2017-서울용산-01085 | 분쟁조정기관표시: 소비자보호원</p>
	<p cond="!$layout_info->FOOTER">이메일: sighkor@gmail.com</p>
	<p cond="!$layout_info->FOOTER">Copyright(c) www.everydaery.com All right reserved.</p>
	<p cond="$layout_info->FOOTER">{$layout_info->FOOTER}</p>
</footer>
